select {
	width: var(--size-60);
	padding: var(--size-2) var(--size-4);
	background: var(--color-background);
	color: var(--color-text);
	border: 0.1px solid var(--color-text);
	border-radius: var(--size-1);
	font-size: var(--size-4);
}

select[aria-invalid="true"] {
	border: 1px solid var(--color-red);
}

input {
	width: var(--size-60);
}

.error {
	width: var(--size-60);
}

.vehicle-form {
	background: var(--color-foreground);
	padding: var(--size-16) var(--size-8);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: var(--size-10);
}
