*,
::after,
::before,
::backdrop,
::file-selector-button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0 solid;
}

:root {
	/* Colors */
	--color-background: #151414;
	--color-text: #e9f1f7;
	--color-foreground: #1f1f1f;

	--color-red: #a30015;
	--color-blue: #1073d1;
	--color-yellow: #ffc600;
	--color-green: #306b34;
	--color-violet: #2A0C4E;
	--color-orange: #F18805;
	--color-pink: #ED33B9;

	--color-navbg: #7d8f99;
	--color-navitem: #cbd2d6;

	/* Sizes (REM) */
	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-7: 1.75rem;
	--size-8: 2rem;
	--size-9: 2.25rem;
	--size-10: 2.5rem;
	--size-11: 2.75rem;
	--size-12: 3rem;
	--size-14: 3.5rem;
	--size-16: 4rem;
	--size-20: 5rem;
	--size-24: 6rem;
	--size-28: 7rem;
	--size-32: 8rem;
	--size-36: 9rem;
	--size-40: 10rem;
	--size-44: 11rem;
	--size-48: 12rem;
	--size-52: 13rem;
	--size-56: 14rem;
	--size-60: 15rem;
	--size-64: 16rem;
	--size-72: 18rem;
	--size-80: 20rem;
	--size-96: 24rem;
	--size-px: 1px;
	--size-0_5: 0.125rem;
	--size-1_5: 0.375rem;
	--size-2_5: 0.625rem;
	--size-3_5: 0.875rem;
}

button {
	cursor: pointer;
	padding: var(--size-2) var(--size-6);
	border-radius: var(--size-2);
	font-size: var(--size-4);
}

button:hover {
	opacity: 0.7;
}

button:active {
	transform: scale(0.9);
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1rem;
}
h5 {
	font-size: 0.83rem;
}
h6 {
	font-size: 0.67rem;
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
	color: var(--color-text);
}

.outlet {
	margin: 1rem auto;
	width: 75%;
}

input:focus {
	outline: none;
}
